<div style="text-align: center;">
    <h1>Welcome</h1>
    <p>Start organizing your taska and stay productive!</p>
    <p>Get started by creating your frist to do-item.</p>
    <a href="/TodoItems/Create" class="btn btn-primary">Create New To-Do Item</a> 
</div>